<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
</head>
<body>
        <img src="#" alt="image de profile" />
    <h1><%= nom %><%= prenom %></h1>
    <p><%= age %></p>
    <h2><%= filiere %></h2>
    <p><%= description %></p>
    <ul>
            <% for(var i=0; i < tags.length; i++) { %>
                    <li>
                            <%= tags[i] %>
                    </li>
            <% } %>
    </ul>
    <ul>
        <% for(var i=0; i < competences.length; i++) { %>
                 <li>
                    <%= competences[i] %>
                </li>
        <% } %>
    </ul>
        <!-- Si admin : smaller "admin" en gris -->
    <ul>
        <% for(var i=0; i < parcours.length; i++) { %>
            <li>
                    <%= parcours[i] %>
            </li>
        <% } %>
     </ul>
     <ul>
        <li><%= realisations.dribbble %></li>
        <li><%= realisations.behance %></li>
        <li><%= realisations.instagram %></li>
     </ul>
     <ul>
        <li><%= contact.linkedin %></li>
        <li><%= contact.facebook %></li>
        <li><%= contact.telephone %></li>
        <li><%= contact.mail %></li>
     </ul>

</body>
</html>